button {
    background-color: lightblue;
    padding: 10px, 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: lightgrey;
    color: white;
}

button:active {
    transform: scale(0.9);
    color: red;
}